@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.headerContainer {
  height: 70px;

  @media screen and (max-width: 768px) {
    height: auto;
  }

  .headerItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding: 0 24px;
    margin: 0 auto;

    max-width: $main-content-width;

    @media screen and (max-width: 480px) {

    }

    //@media screen and (min-width: 481px) and (max-width: 768px){
    //
    //}

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 16px;
      //padding: 0 24px 0 24px;
    }

    div {
      img {
        height: 50px;
        object-fit: cover;
        width: 190px;
      }
    }

    .wallet {
      //background-color: green;

      @media screen and (max-width: 480px) {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .button {
        padding: 10px 16px;

        font-weight: 700;
        font-size: 12px;

        background: $color-main;
        color: white;

        border: none;
        border-radius: 8px;

        cursor: pointer;

        @include media-screen(xs) {
          & {
            padding: 10px 12px;
            font-size: 10px;
          }
        }

        @include media-screen(sm) {
          & {
            padding: 10px 16px;

            font-size: 12px;
          }
        }
      }
    }
  }

  .mobile_wrapper {
    //background-color: red;
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-top: 20px;
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
      margin-left: 30px;
    }

    @media screen and (min-width: 1201px) {
      margin-left: 150px;
    }
  }

  .items_list {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    @media screen and (max-width: 768px) {
      gap: 25px;
    }


    @media screen and (min-width: 769px) and (max-width: 1200px) {
      gap: 35px;
    }

    @media screen and (min-width: 1200px) {
      gap: 50px;

    }
  }

  .item_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item_block_active {

    display: flex;
    flex-direction: column;
    align-items: center;

    :hover {
      cursor: pointer;
    }
  }

  .coming_soon_label {
    padding: 3px 3px 0 3px;
    height: 16px;
    font-size: 9px;
    color: blue;
    background: #C8E3FD;
    border-radius: 3px;
    font-weight: 700;
  }

  .coming_soon_label_empty {
    padding: 3px 3px 0 3px;
    height: 16px;
    font-size: 9px;
    background: transparent;
    border-radius: 3px;
    font-weight: 700;

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  .active_tab {
    font-size: 13px;
  }

  .coming_soon_tab {
    color: #999999;
    font-size: 13px;
  }

  @include box-shadow();
}
