.page_title_wrapper {
  font-family: '__Inter_01180f, __Inter_Fallback_01180f', sans-serif;
}

.title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.66;
  font-family: '__Inter_01180f, __Inter_Fallback_01180f', sans-serif;
}

.button {
  font-weight: 700;
}

.button_link {
  color: white;
  font-family: '__Inter_01180f, __Inter_Fallback_01180f', sans-serif;
}


