
.google_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(149, 157, 165, 0.12);
  box-shadow: rgba(149, 157, 165, 0.12) 0px 8px 24px;
  text-decoration: none;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.32) 0px 8px 24px;
    text-decoration: none;
  }
}

.google_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  padding: 8px;
  cursor: pointer;
  width: 100px;
  border: 1px solid #C2C2C2;
  border-radius: 8px;
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: black;
}


.google_button:hover {
  background-color: initial;
}

.create_account_link {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
}

.create_account_link:hover {
  cursor: pointer;
}

.forgot_password_btn:hover {
  cursor: pointer;
}
