// Mobile first approche is implemented
$media: (
  sm: 640px,
  md: 768px,
  lg: 1200px,
  xl: 1400px,
  2xl: 1536px,
  3xl: 1920px,
);

@mixin media-screen($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

@mixin box-shadow() {
  -webkit-box-shadow: 9px 14px 36px -26px rgba(66, 68, 90, 1);
  -moz-box-shadow: 9px 14px 36px -26px rgba(66, 68, 90, 1);
  box-shadow: 9px 14px 36px -26px rgba(66, 68, 90, 1);
}
